/*Home*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav*/
.navbar{
    display: block;
    height: 5vh;
    padding-top: 10px;
    background-color: rgb(60, 59, 59);
    list-style-type: none;
}

.nav-links{
    display: flex;
    position: fixed;
    list-style-type: none;
    gap: 3rem;
    z-index: 1000;
    left: 50%;
    font-size: 17px;
}
.nav-links a{
    color: teal;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a :hover{
    color: white;
    background-color: teal;
    width: 80px;
    padding-left: 20px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
}
.nav-button{
   height: 4vh;
   border-radius: 10px;
   margin-left: 40px;
    width: 100px;
    margin-bottom: 20px;
    background-color: white;
    color: teal;
    transition: color 0.3s ease;
}
/*Hero-section*/
.h1-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
   
}
.sp1{
    color:teal;
   
}
.home1{
   position: relative;
   display: inline-block;
   width: 100%;
   height: 80vh;
   display: block;
   filter: brightness(30%);
}   
.h1-3{
    color: teal;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.hero1{
    width: 30%;
    box-shadow: 0px 4px 10px teal;
    height: 20vh;
    padding-top: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
}
.hero :hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px teal;
}
.hero-img{
    width: 15%;
}
.p1{
    color: grey;
   font-size: 20px;
}
.hero{
    display: flex;
    padding-left: 5%;
    gap: 60px;
    margin-top: 20px;
    margin-top: 5%;
}
/*gallery*/
.gallery{
    margin-left: 5%;
}
.gallery1{
    margin-top: 10%;
    display: flex;
    gap: 5%;
    
}
.gallery2{
    margin-top: 5%;
    display: flex;
    gap: 5%;
}
.h1-4{
    font-size: 50px;
    text-transform: uppercase;
    color: teal;
    text-align: center;
    margin-top: 10%;
}
.sp2{
    color: teal;
}
.gals{
    height: 40vh;
    filter: brightness(80%);
    border-radius: 10%;
    box-shadow: 0px 4px 10px teal;
    transition: transform 0.3s ease;
  
    
}
.galss{
    height: 40vh;
    filter: brightness(80%);
    border-radius: 10%;
    box-shadow: 0px 4px 10px teal;
    width: 400px;
    transition: transform 0.3s ease;
}
.p2{
    color: gray;
   
    font-size: 20px;
    width: 50%;
}
.b1{
    color: #fff;
    margin-top: 5%;
    font-size: 20px;
    width: 50%;
    height: 6vh;
    background-color:  teal;
    border-radius: 30px;
    font-weight: bold;
}
.galsss{
    height: 40vh;
    filter: brightness(80%);
    border-radius: 10%;
    box-shadow: 0px 4px 10px teal;
    width: 90%;
    transition: transform 0.3s ease;
}
.galsss :hover{
    box-shadow: 0 5px 12px rgb(108, 108, 242);
    transform: translateY(-5px);
}
/*partners*/
.partners{
    margin-top: 10%;
}
.h3-2{
    color: teal;
    text-align: center;
    font-size: 50px;
}
.h3-3{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}
.icon2{
    width: 60%;
}
.logo1{
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
}

/*Bottom-footer*/
.Bottom-footer{
    background-color:teal;
    margin-top: 10%;
    padding-bottom: 5%;
}
.top-footer{
    display: flex;
    padding-left: 5%;
    gap: 55%;
    padding-top: 2%;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 2%;
}
.h1-5{
    font-size: 30px;
    font-weight: 100;
}

.footer-button{
    background-color: teal;
    color: #fff;
    font-size: 20px;
    width: 10%;
    height: 5vh;
    border-radius: 20px;
}
.ul-footer{
    list-style-type: none;
    padding-top: 5%;
    font-size: 20px;
}
.topper-footer{
    display: flex;
    padding-left: 20%;
    padding-top: 5%;
    gap: 20%;
}
.h2-1{
    font-weight: 200;
}
@media (max-width:400px ){
   .nav-links{
    position: fixed;
    font-size: 10px;
    left: 5%;
    gap: 1rem;
    position: fixed;
   
   }
   .nav-links a{
    font-size: 10px;
    width: 20%;
    transition: color 0.3s ease;
   }
   .nav-links a :hover{
    font-size: 10px;
    width: 100%;
    padding: 0;
   }
   .nav-button{
    font-size: 10px;
    width: 50px;
   }
    .ul3{
        padding-left: 1px;
    }
    .h1-2{
        font-size: 10px;
        top: 20%;
        left: 50%;
    }
    .home1{
       
        height: 30vh;
    }
    .h1-3{
       text-align: left;
       font-size: 20px;
       margin-left: 10%;
       
    }
    .hero{
       display: flex;
       flex-direction: column;
    }
    .hero1{
        height: 20vh;
        width: 200px;
       margin-left: 8%;
    }
    .p1{
        font-size: 15px;
    }
    .h1-4{
     
     text-align: left;
     font-size: 30px;
     margin-left: 10%;
    
    }
    .gallery{
        margin-left: 10%;
    }
    .gallery1{
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
    .p2{
        width: 100%;
        font-size: 12px;
        text-align: left;
    }
    .b1{
        width: 200px;
       margin-left: 10%;
    }
    
    .h3-2{
        font-size: 40px;
    }
    .Bottom-footer{
        padding: 0;
        width: 100%;
       
    }
    .h1-5{
       font-size: 15px;
    }
    .h2-1{
        font-size: 10px;
    }
    .ul-footer{
        font-size: 10px;
    }
    .footer-button{
       color: teal;
       border: none;
    }
    .gals{
        width: 250px;
    }
    .galss{
        width: 90%;
    }
    .gallery2{
        display: flex;
        flex-direction: column;
        gap: 15%;
    }
    .topper-footer{
        padding-left: 5%;
        gap: 20px;
        
    }
}
@media (max-width:800px ){
    .nav-links{
        left: 10%;
    }
    .home1{
        height: 50vh;
    }
    .h1-2{
        font-size: 50px;
        top: 30%;
    }
    .gallery1{
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
    .gals{
        width: 90%;
    }
    .galss{
        width: 90%;
    }
    .gallery2{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .p2{
        font-size: 20px;
        width: 80%;
    }
    .footer-button{
        width: 50%;
    }
    .h1-5{
        font-size: 30px;
    }
    .h2-1{
        font-size: 20px;
    }
    .ul-footer{
        font-size: 15px;
    }
    .ul-footer{
        font-size: 15px;
    }
    
}