/*Home*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/
.navbar{
    display: block;
    height: 5vh;
    padding-top: 10px;
    background-color: rgb(60, 59, 59);
    list-style-type: none;
}

.nav-links{
    display: flex;
    position: fixed;
    list-style-type: none;
    gap: 3rem;
    z-index: 1000;
    left: 50%;
    font-size: 17px;
}
.nav-links a{
    color: teal;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a :hover{
    color: white;
    background-color: teal;
    width: 80px;
    padding-left: 20px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
}
.nav-button{
   height: 4vh;
   border-radius: 10px;
   margin-left: 40px;
    width: 100px;
    margin-bottom: 20px;
    background-color: white;
    color: teal;
    transition: color 0.3s ease;
}
.nav-button :hover{
    color: white;
    background-color: teal;
    height: 5vh;
}
/*Content*/
.content{
    margin-top: 9%;
}
.p1{
    text-align: center;
    font-size: 30px;
}
.sp1{
    color: teal;
}
.buttons{
    text-align: center;
    margin-top: 7%;
}
.b1 {
    color: white;
    background-color: teal;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    height: 7vh;
    transition: 0.3s ease-in-out;
}

.b1:hover {
    color: teal;
    background-color: white;
}

.b2{
    width: 10%;
    height: 7vh;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(1, 1, 11);
    color: teal;
}
.b2:hover {
    color: black;
    background-color: white;
}
.h1-1{
    text-align: center;
    margin-top: 9%;
    font-size: 50px;
}
.h3-1{
    text-align: center;
    margin-top: 5%;
    color: teal;
    font-size: 30px;
}
.about1{
    position: relative;
   display: inline-block;
   width: 100%;
   height: 80vh;
   display: block;
   filter: brightness(80%);
 
   
}
.h1-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 55px;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.b3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 6vh;
    font-size: 20px;
    background-color: teal;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    
}
.b3 :hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}
/*Services*/
.services{
    margin-top: 5%;
    display: flex;
    margin-left: 10%;
    gap: 10%;
}
.service1{
    display: flex;
    width: 40%;
    color: teal;
    background-color: whitesmoke;
    height: 10vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.service2{
    display: flex;
    width: 40%;
    color: teal;
    background-color: whitesmoke;
    height: 10vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
/*Bottom-footer*/
.Bottom-footer{
    background-color:teal;
    margin-top: 10%;
    padding-bottom: 5%;
}
.top-footer{
    display: flex;
    padding-left: 5%;
    gap: 55%;
    padding-top: 2%;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 2%;
}
.h1-5{
    font-size: 30px;
    font-weight: 100;
}

.footer-button{
    background-color: teal;
    color: #fff;
    font-size: 20px;
    width: 10%;
    height: 5vh;
    border-radius: 20px;
}
.ul-footer{
    list-style-type: none;
    padding-top: 5%;
    font-size: 20px;
}
.topper-footer{
    display: flex;
    padding-left: 20%;
    padding-top: 5%;
    gap: 20%;
}
.h2-1{
    font-weight: 200;
}
