/*Home*/
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*navbar*/
.navbar {
    position: fixed;  /* Keeps navbar at the top */
    top: 0;
    left: 0;
    width: 98%;
    z-index: 1000;  /* Ensures navbar stays above all elements */
    height: 60px;  /* Adjusted height */
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    padding-left: 30%;

}

/* Navigation List */
.ul3 {
    display: flex;
    list-style: none;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 auto;  
    padding: 0;
    gap: 20px;
    padding-left: 30%;
    
}

/* Navbar Links */
.ul3 a {
    text-decoration: none;
    color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Hover Effect */
.ul3 a:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

.icon1{
    width: 10%;
}
.logo{
    display: flex;
}
.h4-1{
    color: teal;
    font-size: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
}
.icon{
    width: 40%;
    border-radius: 50px;
}
#signup{
    background-image: ;
}