/*Home*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*navbar*/
.navbar {
    position: fixed;  /* Keeps navbar at the top */
    top: 0;
    left: 0;
    width: 98%;
    z-index: 1000;  /* Ensures navbar stays above all elements */
    height: 60px;  /* Adjusted height */
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    padding-left: 45%;

}

/* Navigation List */
.ul3 {
    display: flex;
    list-style: none;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 auto;  
    padding: 0;
    gap: 20px;
    padding-left: 30%;
    
}

/* Navbar Links */
.ul3 a {
    text-decoration: none;
    color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Hover Effect */
.ul3 a:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

.icon1{
    width: 10%;
}
.logo{
    display: flex;
}
.h4-1{
    color: teal;
    font-size: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
}
.icon{
    width: 40%;
    border-radius: 50px;
}
/*Signup*/
.loginpage{
    width: 100%;
    height: 100vh;
    
}
.words{
    position: absolute;
    top: 30%;  
    left: 10%;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 20%;
    padding-left: 2%;
    padding-top: 3%;
    border-radius: 30px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);
}
.l1{
 font-size: 30px;
 font-weight: 600;
}
input{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 80%;
    height: 3vh;
}
label{
    font-size: 15px;
}
textarea{
    background-color: whitesmoke;
    border-radius: 20px;
}
@media{
    .navbar{
        font-size: 2rem;
    }
}
